*{
    font-family: 'Nova Square', cursive;
    font-family: 'Rajdhani', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

:root{
    --main: darkred;
    --accent: #C67F7F;
    --other: #ECECEC;
}

.text-main{
    color: var(--main)
}

.logo{
    color: var(--main);
    z-index: 999;
    display: flex;
    justify-content: center;
    height: 80px;
}



.h1-central{
    letter-spacing: 4rem; 
    font-size: 5rem;
    display: flex;
    align-items: center;
   
}

@media screen and (max-width: 768px){
    .h1-central{
        letter-spacing: 1rem; 
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
}
}

.font-nova{
    font-family: 'Nova Square', cursive;
}

.image-mountain{
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.2),rgba(255,255,255,0)), url("./media/mountains2.png"), url("./media/switzerland-862870_1920.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    z-index: 998;
    position: relative;
}

.text-italic{
    z-index: 999;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    width: 100vw;
}

.card-mountain{
    border: none;
    border-bottom: 5px solid darkred;
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: relative;
    background-color: var(--other);

}

/* pallino sulle card */
.card-mountain::after{
    position: absolute;
    content: "";
    margin: 3px 3px 3px;
    margin-top: 67%;
    margin-left: 47%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
    
}

@media screen and(max-width: 768px){
    .card-mountain::after{
    display: none;
    }
}

.card-timeline{
    border: none;
    border-left: 5px solid darkred;
    z-index: 111;
    background-color: rgba(255,255,255,0);
}

/* pallino timeline */
.pallino-timeline::after{
    position: absolute;
    content: "";
    margin: 3px 3px 3px;
    margin-left: -28%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
}

@media screen and(max-width: 768px){
    .pallino-timeline::after{
    display: none;
    }
}

.button-lorem{
    border-radius: 0px;
    background-color: var(--main);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.white-trees{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    bottom: 0;
}

@media screen and (max-width: 768px){
    .white-trees{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    }
}


.grey-trees{
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;

}

@media screen and (max-width: 768px){
    .grey-trees{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    }
}


.img-circle{
    border: 3px solid var(--main);
    padding: 5px;
}


footer{
    background-color: var(--main);
    color: white;
    height: 10%;
    width: 100%;
    padding-top: 50px;
}

.img-red-mountain{
    background-image: url("./media/other.png");
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

}

@media screen and(max-width: 768px){
    .img-red-mountain{
      
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
}



.sect-grey{
    background-color: var(--other);
}